In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
df = pd.read_csv("bar_chart_filters_data.csv")

In [2]:
df.InvestmentType.value_counts()

Seed Funding      1301
Private Equity    1067
Crowd Funding        2
Debt Funding         1
Name: InvestmentType, dtype: int64

In [3]:
df.IndustryVertical.value_counts()

Others               1085
Consumer Internet     920
eCommerce             265
Healthcare             56
Education              28
Finance                18
Name: IndustryVertical, dtype: int64

In [4]:
df.IndustryVertical.unique()

array(['Others', 'Consumer Internet', 'eCommerce', 'Healthcare',
       'Finance', 'Education'], dtype=object)

In [5]:
df.loc[df["InvestmentType"] == "Crowd Funding"]

,Unnamed: 0,Industry,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD
2328,2328,Industry,7/1/2015,Nurturey,Others,NaN,Bangalore,Seedrs Crowd funding platform,Crowd Funding,125000.0
2330,2330,Industry,7/1/2015,Stridalyzer,Others,NaN,Bangalore,Kickstarter,Crowd Funding,30768.0

In [7]:
df.loc[df["StartupName"] == "Drums Food"]

,Unnamed: 0,Industry,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD
890,890,Industry,21/07/2016,Drums Food,Others,Yogurt and Ice Cream maker,Mumbai,"Verlinvest, DSG Consumer Partners",NaN,1070000.0